<header>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button class="neon-green-button" ngbNavLink>Home
                <app-home-tab/>
            </button>
            <ng-template ngbNavContent>            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button class="neon-green-button" ngbNavLink>Songs on Spotify
                <app-home-tab/>
            </button>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button class="neon-green-button" ngbNavLink>About
                <app-home-tab/>
            </button>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <button class="neon-green-button" ngbNavLink>
                Contact
                <app-home-tab/>
            </button>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    
    <pre class="neon-pink">Active: {{ active }}</pre>
</header>